<!DOCTYPE html>
<html>
<head>
	<title>Projeto de OO - Django Python</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'webapp/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>
	<body class="body" style="background-color:#f6f6f6">

		<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-5">
				  <br>
				  <center>
					<img src="{% static 'webapp/img/profile.jpg' %}" class="responsive-img" style='max-height:100px;' alt="face">
				  </center>
			  </div>
			  <div class="col-sm-10">
				  <br>
				  <center>
				  <h3>Exercício programa 3 de orientação a objetos</h3>
				  </center>
			  </div>
		</div><hr>

		<div class="row">
		  <div class="col-sm-2">
		  <br>

		  <br>
		   <!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
			<div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
			  <ul class="nav nav-pills nav-stacked">
				<li><a href='/'>Principal</a></li>
				<li><a href='/quarto_1/'>Quarto 1</a></li>
				<li><a href='/quarto_2/'>Quarto 2</a></li>
			  </ul>
			</div> <!--well bs-sidebar affix-->
		  </div> <!--col-sm-2-->
		  <div class="col-sm-10">
		  
			<div class='container-fluid'>
			<br><br>
			   {% block content %}
			   {% endblock %}			   	
			</div>
		  </div>
		</div> 
	</div>
	
	</body>
</html>
