{% extends "webapp/header.html" %}

{% block content %}
<center>
    	<h4>Quarto 1:</h4>

	<h5>Lâmpada 1:</h5>
	
	<form action="" method="post">{% csrf_token %}
		<input type="submit" name="on" value="Ligar" />
		<input type="submit" name="off" value="Desligar" />
	</form>
	
	<p></p>
	
	<h5>Lâmpada 2:</h5>
	
	<form action="" method="post">{% csrf_token %}
		<input type="submit" name="on2" value="Ligar" />
		<input type="submit" name="off2" value="Desligar" />
	</form>
	
	<p></p>
	
	<h5>Janela:</h5>
	
	<form action="" method="post">{% csrf_token %}
		<input type="submit" name="open" value="Abrir" />
		<input type="submit" name="close" value="Fechar" />
	</form>	
</center>
{% endblock %}